body{
    background: rgb(255, 255, 255);
}
.post-header{
    display:flex;
    flex-direction: row;
    width: 600;
    height: 65px;
    background: cornflowerblue;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
      
}

.container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.icon1{
       display: flex;
      justify-content: flex-end;

  }

.boxtex{
    display: flex;
    flex-direction: column;
    margin: 20px;
}
h1{
    font-family: 'Supermercado One', cursive;    
    font-size: 25px;
    margin: 0%;
}
h2{
    font-size: 15px;
    margin: 0%;
}
  
 .box{
    display: flex;
    flex-direction: row,2px;
     width: auto;
     height: 30px;
     margin-top: 0cm;
     border-width: 2px;
     border-color: rgb(255, 255, 255);
     border-style: solid;
 } 
 .fas fa-bookmark{
     justify-content: flex-end;
 }
 .box>h1{
     font-size: 2;
 }
 .box{
     display: flex;
     flex-direction: row;
     justify-content: space-around;
 }

.post{
    width: 600px;
    height: 700px;
    align-content: center;
    margin:0 auto;
    justify-content: space-between;
}
img{
    width: 100%;
    }
p{
    align-content: center;
    padding-left: 10px;
}
.post-footer{
    
    width: 600px;
    height: autox;
    background: rgb(255, 252, 252);
}
.fa-light fa-heart{
   margin-left: auto;
    color: darkblue;
}
body{
    background-color: black;
}